# A Predictive Analysis of Loan Approvals through Classification Modeling and Cloud Computing

Saba Alemayehu, Dennis Myasnyankin, and Anusia Edward

In [16]:
# Necessary pips 
#! pip install pyathena
#! pip install awswrangler 
#! pip install fast_ml
#! pip install smclarify
#! pip install sdv
# from sdv.tabular import GaussianCopula

In [24]:
# Necessary Imports 
import boto3, os, sagemaker
import io
import pandas as pd
from pandas.core.internals import concat
import seaborn as sns
import numpy as np
import fast_ml
from fast_ml.model_development import train_valid_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn.utils import resample 
from smclarify.bias import report 
import matplotlib.pyplot as plt
import pyathena as pa
from pyathena import connect
from pyathena.pandas.cursor import PandasCursor
import awswrangler as wr 
import warnings
warnings.filterwarnings("ignore")

## Data Wrangling

In [22]:
# database (db) set-up using athena 
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name
ingest_create_athena_db_passed = False

In [25]:
# database (db) name set-up
db_name = "SDAloans"
# s3 staging directory 
s3_sg_dir = "s3://{0}/athena/staging".format(bucket)
# connection via directory for querying
conn = connect(region_name=region, s3_staging_dir=s3_sg_dir)

In [26]:
# creating the database (db = SDAloans)
statement = "CREATE DATABASE IF NOT EXISTS {}".format(db_name)
print(statement)
pd.read_sql(statement, conn)

CREATE DATABASE IF NOT EXISTS SDAloans

Empty DataFrame
Columns: []
Index: []

In [27]:
# verification of db creation
statement = "SHOW DATABASES"
df_show = pd.read_sql(statement, conn)
df_show.head(3)

  database_name
0       default
1      sdaloans

In [51]:
# setting directory to s3 bucket with files
SDAloans_dir = 's3://ads508loanapproval/datasets/'

In [58]:
# SQL: reading in the 1st dataset=trans.csv as a table (tb) into directory
tb1_name ='trans'
pd.read_sql(f'DROP TABLE IF EXISTS {db_name}.{tb1_name}', conn)

create_table = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {db_name}.{tb1_name}(
                index int,
                trans_id int,
                account_id int,
                date date,
                type string,
                operation string,
                amount int,
                balance int,
                k_symbol string,
                bank string,
                account int
                )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION 's3://ads508loanapproval/datasets/trans.csv'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""
pd.read_sql(create_table, conn)
pd.read_sql(f'SELECT * FROM {db_name}.{tb1_name} LIMIT 5', conn)

Empty DataFrame
Columns: [index, trans_id, account_id, date, type, operation, amount, balance, k_symbol, bank, account]
Index: []

In [36]:
# SQL: reading in the 2nd dataset=trans_2.csv as a table (tb) into directory
tb2_name ='trans_2'
pd.read_sql(f'DROP TABLE IF EXISTS {db_name}.{tb2_name}', conn)

create_table = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {db_name}.{tb2_name}(
                index int,
                trans_id int,
                type string,
                operation string,
                amount2 int,
                balance int
                )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{SDAloans_dir}/{tb2_name}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""
pd.read_sql(create_table, conn)
pd.read_sql(f'SELECT * FROM {db_name}.{tb2_name} LIMIT 3', conn)

Empty DataFrame
Columns: [index, trans_id, type, operation, amount2, balance]
Index: []

In [37]:
# SQL: reading in the 3rd dataset=loan.csv as a table (tb) into directory
tb3_name ='loan'
pd.read_sql(f'DROP TABLE IF EXISTS {db_name}.{tb3_name}', conn)

create_table = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {db_name}.{tb3_name}(
                index int,
                loan_id int,
                account_id int,
                date date,
                amount int,
                duration int,
                payments float,
                status string
                )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{SDAloans_dir}/{tb3_name}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""
pd.read_sql(create_table, conn)
pd.read_sql(f'SELECT * FROM {db_name}.{tb3_name} LIMIT 3', conn)

Empty DataFrame
Columns: [index, loan_id, account_id, date, amount, duration, payments, status]
Index: []

In [38]:
# SQL: reading in the 4th dataset=account.csv as a table (tb) into directory
tb4_name ='account'
pd.read_sql(f'DROP TABLE IF EXISTS {db_name}.{tb4_name}', conn)

create_table = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {db_name}.{tb4_name}(
                index int,
                account_id int,
                district_id int,
                frequency string,
                date date
                )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{SDAloans_dir}/{tb4_name}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""
pd.read_sql(create_table, conn)
pd.read_sql(f'SELECT * FROM {db_name}.{tb4_name} LIMIT 3', conn)

Empty DataFrame
Columns: [index, account_id, district_id, frequency, date]
Index: []

In [39]:
# verification of db creation + storing 
statement = "SHOW DATABASES"
df_show = pd.read_sql(statement, conn)
df_show.head(3)

  database_name
0       default
1      sdaloans

In [41]:
if db_name in df_show.values:
    ingest_create_athena_db_passed = True

In [42]:
%store ingest_create_athena_db_passed

Stored 'ingest_create_athena_db_passed' (bool)

In [48]:
# SQL: merging tb 1-4 + saving as a df 
df=pd.read_sql(f'SELECT * FROM (SELECT t4.frequency, t3.account_id, t3.account,\
t3.duration, t3.payments, t3.status FROM {db_name}.{tb4_name} t4 RIGHT JOIN \
                            {db_name}.{tb3_name} t3 ON t4.account_id \
                            = t3.account_id) c1 LEFT JOIN (SELECT t1.trans_id,\
                            t1.amount, t1.balance FROM {db_name}.{tb1_name}) t1\
                             ON c1.account_id=t1.account_id) c2 LEFT JOIN\
                              (SELECT t2.operation FROM {db_name}.{tb2_name})\
                              t2 ON c2.trans_id=t2.trans_id', conn)

ERROR:pyathena.common:Failed to execute query.
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/pyathena/common.py", line 524, in _execute
    **request,
  File "/opt/conda/lib/python3.7/site-packages/pyathena/util.py", line 68, in retry_api_call
    return retry(func, *args, **kwargs)
  File "/opt/conda/lib/python3.7/site-packages/tenacity/__init__.py", line 379, in __call__
    do = self.iter(retry_state=retry_state)
  File "/opt/conda/lib/python3.7/site-packages/tenacity/__init__.py", line 314, in iter
    return fut.result()
  File "/opt/conda/lib/python3.7/concurrent/futures/_base.py", line 428, in result
    return self.__get_result()
  File "/opt/conda/lib/python3.7/concurrent/futures/_base.py", line 384, in __get_result
    raise self._exception
  File "/opt/conda/lib/python3.7/site-packages/tenacity/__init__.py", line 382, in __call__
    result = fn(*args, **kwargs)
  File "/opt/conda/lib/python3.7/site-packages/botocore/client.py", line 530, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/opt/conda/lib/python3.7/site-packages/botocore/client.py", line 960, in _make_api_call
    raise error_class(parsed_response, operation_name)
botocore.errorfactory.InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:407: mismatched input ')'. Expecting: '%', '*', '+', ',', '-', '.', '/', 'AND', 'AT', 'CROSS', 'EXCEPT', 'FULL', 'GROUP', 'HAVING', 'INNER', 'INTERSECT', 'JOIN', 'LEFT', 'LIMIT', 'NATURAL', 'OFFSET', 'OR', 'ORDER', 'RIGHT', 'UNION', 'WHERE', '[', '||', <EOF>

DatabaseError: Execution failed on sql: SELECT * FROM (SELECT t4.frequency, t3.account_id, t3.account,t3.duration, t3.payments, t3.status FROM SDAloans.account t4 RIGHT JOIN                             SDAloans.loan t3 ON t4.account_id                             = t3.account_id) c1 LEFT JOIN (SELECT t1.trans_id,                            t1.amount, t1.balance FROM SDAloans.trans) t1                             ON c1.account_id=t1.account_id) c2 LEFT JOIN                              (SELECT t2.operation FROM SDAloans.trans_2)                              t2 ON c2.trans_id=t2.trans_id
An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:407: mismatched input ')'. Expecting: '%', '*', '+', ',', '-', '.', '/', 'AND', 'AT', 'CROSS', 'EXCEPT', 'FULL', 'GROUP', 'HAVING', 'INNER', 'INTERSECT', 'JOIN', 'LEFT', 'LIMIT', 'NATURAL', 'OFFSET', 'OR', 'ORDER', 'RIGHT', 'UNION', 'WHERE', '[', '||', <EOF>
unable to rollback